{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

    {% comment %} bootstrap {% endcomment %}
    <link rel="stylesheet" href="{% static 'bootstrap\css\bootstrap.min.css' %}">
    {% comment %} css {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <div class="background-image"></div>
    <header class="header sticky-top">
        <div class="header-container d-flex">
            <div class="header-logo">
                <a href="/shop"><img src="{% static 'img/logo_pr.png' %}" alt="" class="vinyl-logo" style="max-width: 80px; height: auto;"></a>
            </div>
            <navbar class="header-nav pt-4">
                <ul class="header-list d-flex">
                    <li>
                        <a href="/" class="nav-a m-3">Главная</a>
                    </li>
                    <li>
                        <a href="#" class="nav-a m-3">Магазин</a>
                    </li>
                </ul>
            </navbar>
            
            <div class="header-profile">
                <a href="#" class="m-3">Войти</a>
            </div>
        </div>
    </header>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
    <img src="{% static 'img/angle.png' %}" class="angle1" alt="" style="max-width: 200px; height: auto;">
    <img src="{% static 'img/angle2.png' %}" class="angle2" alt="" style="max-width: 200px; height: auto;">
    {% comment %} js for bootstrap {% endcomment %}
    <script src={% static 'bootstrap\js\bootstrap.bundle.min.js' %}></script>
</body>
</html>